{% extends 'bootstrap/base.html' %}

<html>
    <head>
      <!--{% block title %}
        {% if title %}
          <title>{{ title }} - HistoryMap</title>
        {% else %}
          <title>Welcome to HistoryMap</title>
        {% endif %}
      {% endblock %} -->
    </head>
    <body>
        {% block navbar %}
          <nav class="navbar navbar-default">
            <div>HistoryMap:
              <a href="{{ url_for('index') }}">Home</a>
              <a href="{{ url_for('map1') }}">Map</a>
            </div>
          </nav>
        {% endblock %}

        <hr>
        {% block content %}
          <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
            {% endwith %}
            {% block app_content %}{% endblock %}
          </div>
        {% endblock %}
    </body>
</html>